@font-face {
      font-family: "Lato";
      src: url(../fonts/Lato/Lato-Bold.ttf);
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Thin.ttf);
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}
