html {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 55px;
  border-bottom: 1px solid #222;
}

.b-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.b-header__navigation li:first-child a {
  padding: 15px 17px 15px 0;
}

.b-header__link {
  color: #222;
  padding: 15px 17px;
  text-decoration: none;
}

.b-section {
  margin-top: 40px;
}

.b-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 55px;
  border-top: 1px solid #222;
}

.b-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}