header
    .b-header
        .b-wrapper
            nav
                ul.b-header__navigation
                    li
                        a.b-header__link(href="#") Home
                    li
                        a.b-header__link(href="#") About
                    li
                        a.b-header__link(href="#") Services
                    li
                        a.b-header__link(href="#") Testimonials
                    li
                        a.b-header__link(href="#") Contacts